*.o
*.obj
*.elf
*.bin
*.hex
*.uf2
*.exe
*.out
*.a
*.lib
*.so
*.dylib
*.dll
__pycache__/
.venv/
*.egg-info/
.mypy_cache/
build/
dist/
node_modules/
.env
*.log
.DS_Store
coverage/
.env.*
*.egg-info/

# C/C++ build artifacts
*.swp
*.swo
.vscode/
.idea/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.pdb
compile_commands.json
EEPROM_image/
*.map
